$spacer-base:  5px;  // 5px

$spacer-05:    $spacer-base * 1;  // 5px
$spacer-10:    $spacer-base * 2;  // 10px
$spacer-15:    $spacer-base * 3; // 15px
$spacer-20:    $spacer-base * 4;  // 20px
$spacer-25:    $spacer-base * 5;  // 25px
$spacer-30:    $spacer-base * 6;  // 30px
$spacer-35:    $spacer-base * 7;  // 35px
$spacer-40:    $spacer-base * 8;  // 40px
$spacer-45:    $spacer-base * 9;  // 45px
$spacer-50:    $spacer-base * 10;  // 50px
$spacer-55:    $spacer-base * 11;  // 55px
$spacer-60:    $spacer-base * 12;  // 60px
