// Colors
$color-red:          #f00;
$color-black:        #0c0c0c;
$color-white:        #fff;

$color-transparent:    transparent;

// Gradients

// Shadow

// Transition
$transition-global: all, 0.2s;

// Fonts
$font-OpenSans: 'Open Sans', Arial, sans-serif;

// Font weights
$fw-regular:    normal;
$fw-medium:     500;
$fw-semi-bold:  600;
$fw-bold:       700;
$fw-extra-bold: 800;

// Line-heights
$lh-base:       1.5;
$lh-small:      1.2;
$lh-xs:         1;

// Breakpoints
$breakpoint-xs:  0;
$breakpoint-sm:  576px;
$breakpoint-md:  768px;
$breakpoint-lg:  992px;
$breakpoint-xl:  1200px;
$breakpoint-xxl: 1400px;

$grid-breakpoints: (
    xs:   $breakpoint-xs,
    sm:   $breakpoint-sm,
    md:   $breakpoint-md,
    lg:   $breakpoint-lg,
    xl:   $breakpoint-xl,
    xxl:  $breakpoint-xxl
);

// Container
$container: 1230px;
