<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Test</title>
        <link href="css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!-- test -->
        Test twig:<br>
        {% for letter in 'a'..'z' %}
            * {{ letter }}
        {% endfor %}

        <p>Text inner test on index.twig</p>

        <img src="img/test2.png" alt="">

        <svg width="124" height="124">
            <use xlink:href="./img/sprite.svg#cat-back-2" />
        </svg>

        <script src="js/main.js"></script>
    </body>
</html>